* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: regular;
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: bold;
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}

:root {

  /*Primary Colors Dark theme*/
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);

  /*Font Family*/
  --regular: regular;
  --bold: bold;

  /*Linear gradient*/
  --check-background: linear-gradient(#57ddff, #c058f3);
}

